

/* Margin top

https://nekocalc.com/px-to-em-converter
*/


.margin-top-5 {
    margin-top: 0.313em;
  }

.margin-top-10 {
    margin-top: 0.625em;
  }

.margin-top-15 {
    margin-top: 0.938em;
}

.margin-top-20 {
    margin-top: 1.25em;
}

.margin-top-25 {
    margin-top: 1.563em;
}

.margin-top-30 {
    margin-top: 1.875em;
}

.margin-top-35 {
    margin-top: 2.188em;
}

.margin-top-40 {
    margin-top: 2.5em;
}

.margin-top-45 {
    margin-top: 2.813em;
}

.margin-top-50 {
    margin-top: 3.125em;
}

.margin-top-55 {
    margin-top: 3.438em;
}

.margin-top-60 {
    margin-top: 3.75em;
}


.margin-top-100 {
    margin-top: 6.25px;
}


.margin-top-200 {
    margin-top: 12.5em;
}


.margin-top-300 {
    margin-top: 18.75em;
}

.margin-top-400 {
    margin-top: 25em;
}


.margin-top-500 {
    margin-top: 31.25em;
}

/* Margin bottom */

.margin-bottom-5 {
    margin-bottom: 0.313px;
}

.margin-bottom-10 {
    margin-bottom: 0.625em;
}

.margin-bottom-15 {
    margin-bottom: 0.938em;
}

.margin-bottom-20 { 
    margin-bottom: 1.25em;
}

.margin-bottom-25 { 
    margin-bottom: 1.563em;
}

.margin-bottom-30 {
    margin-bottom: 1.875em;
}

.margin-bottom-35 {
    margin-bottom: 2.188em;
}


.margin-bottom-40 {
    margin-bottom: 2.5em;
}

.margin-bottom-45 {
    margin-bottom: 2.813em;
}

.margin-bottom-50 {
    margin-bottom: 3.125em;
}

.margin-bottom-55 {
    margin-bottom: 3.438em;
}

.margin-bottom-60 {
    margin-bottom: 3.75em;
}
